body {
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 60px; /* Add this line */
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

.progress-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    border: 5px solid #444;
}

.progress-bar {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

.level-block {
    flex: 1;
    margin: 1px;
    background-color: #555;
    border: 1px solid #444;
    border-radius: 3px;
}

.level-block.filled {
    background-color: #4caf50;
}

.level-info {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.timer-info {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.description-info {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: white;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Reduced from 20px */
    margin-top: 20px;
    padding: 10px; /* Reduced from 20px */
    max-width: 600px;
    margin: 20px auto 0;
}

.timeline-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 15px; /* Reduced from 20px */
    background-color: #3a3a3a; /* Slightly lighter than the body background */
    border: none; /* Removed border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.timeline-image {
    width: 100%;
    max-width: 300px; /* Reduced from 400px */
    height: auto;
    object-fit: cover;
    margin-bottom: 10px; /* Reduced from 15px */
    border-radius: 5px;
}

.timeline-entry h2 {
    margin-bottom: 10px; /* Reduced from 15px */
    font-size: 20px; /* Reduced from 24px */
}

.timeline-entry p {
    margin: 5px 0;
    font-size: 14px; /* Reduced from 16px */
}

#next-level-elapsed-time {
    font-size: 18px;
    margin-top: 15px;
    color: #4caf50;
    font-weight: bold;
}

.floating-timer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}